.bike-specs-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EDEDED;
    border-radius: 20px;
    padding: 15px 85px;
    margin-bottom: 18px;
}